#body{
  background: #c9d1d3;
}

.row{
  padding-left: 20%;
  padding-right: 20%;

}

#header{
  margin-left: 10px;
  padding-right: 20px;
  margin-top: 10px;
}

#vehicle{
  width: 39%;
  margin-left: 20%;
}

p{
  margin-left: 20px;
}

.form-bottom{
  float: right;
  margin-right: 50px;

}
